.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 64px 0;
}

.path {
  color: var(--black-color);
  font: var(--font-text-1);
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  gap: 32px;
}

.link {
  color: var(--black-color);
  cursor: pointer;
  font: var(--font-text-4);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.sortMainButton {
  position: relative;
}

.sortImg {
  position: absolute;
  right: 25px;
  top: 17px;
}

.sortValues {
  position: relative;
  border-radius: 20px;
  border: 1px solid var(--mittelgrau-color);
  background-color: transparent;
  width: 288px;
  height: 41px;
  padding: 11px 75px 10px 14px;
  font: var(--font-text-4);
  line-height: 20px;
}

.sortWrapper {
  display: none;
  position: absolute;
  right: -2px;
  top: 50px;
  width: 288px;
  height: 200px;
  text-align: center;
  background-color: var(--light-gray-color);
  border-radius: 20px;
  border: 2px solid var(--mittelgrau-color);
  padding: 10px;
}

.sortBtn {
  width: 250px;
  height: 35px;
  background-color: var(--white-color);
  border-radius: 20px;
  border: 1px solid var(--mittelgrau-color);
  margin: 5px;
  font: var(--font-text-4);
}

.showValues {
  display: block !important;
}

.orderProducts {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.orderBtn {
  width: 30px;
}

.orderBtn:hover {
  transform: scale(0.9);
}



.newOrder {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px 10px;
}

.newViewCard img {
  width: 100%;
  height: 156px;
}

.newViewCard div:nth-child(2) {
  font-size: 20px;
}

.newViewCard div:nth-child(3) {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newViewCard div:nth-child(4) {
  font-size: 20px;
}
