input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formHeader {
  font: var(--font-text-2);
  font-weight: 600;
}

.formWrapper {
  display: none;
  z-index: 9;
}

.visibleForm {
  display: block;
}

.form {
  position: absolute;
  top: 5%;
  right: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--light-gray-color);
  border-radius: 20px;
  padding: 30px 30px 25px;
  text-align: center;
}

.formInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--black-color);
  display: block;
  font: var(--font-text-4);
  width: 230px;
  height: 40px;
  margin-bottom: 5px;
}

.formInput:focus {
  outline: none;
}

.form span {
  visibility: hidden;
  font: var(--font-text-5);
}

.formBtn {
  cursor: pointer;
  width: 100%;
  height: 40px;
  color: var(--white-color);
  background-color: rgb(70, 18, 138);
  border: none;
  border-radius: 5px;
}

.error input {
  border: 3px solid rgb(206, 35, 35);
}

.success input {
  border: 3px solid rgb(54, 174, 24);
}

.error span {
  visibility: visible;
  color: rgb(206, 35, 35);
}

.success span {
  border: 3px solid rgb(54, 174, 24);
}

.total {
  font: var(--font-text-2);
  padding-bottom: 10px;
}

.blackout {
  height: 100vh;
  width: 100%;
  opacity: 0;
  z-index: -10;
  background-color: #292929;
  transition: opacity 0.25s linear, z-index 0.25s linear;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.blackoutActive {
  display: block;
  z-index: 7;
  opacity: 0.6;
}

.lock {
  overflow: hidden;
}

/*CARD*/

.card {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,118,1) 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 350px;
  height: 200px;
  position: relative;
  z-index: 1;
}

.map {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}

.cardInfo {
  display: flex;
  gap: 40px;
}

.cardNumberInput {
  background-color: transparent;
  border: none;
  width: 250px;
  height: 40px;
  font: var(--font-text-2);
  outline: none;
}

.cvvInput {
  background-color: transparent;
  border: none;
  width: 100px;
  height: 36px;
  font: var(--font-text-3);
  outline: none;
}

.expWrapper {
  position: relative;
  border: none;
  display: flex;
  width: 250px;
  justify-content: space-around;
  height: 36px;
  font-size: 24px;
}

.expWrapper:after {
  content: '/';
  position: absolute;
  left: 50%;
  margin-left: -4px;
  color: #aaa;
}

.exp {
  background-color: transparent;
  border: 0;
  width: 30px;
  outline: none;
  appearance: none;
  font: var(--font-text-3);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardLogo {
  width: 50px;
}

.chip {
  width: 50px;
}
