.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
}

.title {
  color: var(--black-color);
  font: var(--font-h2);
  line-height: 59px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(365px, 366px));
  gap: 56px 50px;
}

.link {
  color: var(--black-color);
  cursor: pointer;
  font: var(--font-text-4);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
